body{ 
  background-color: white /*#FCFCFC*/
}

/*Navigation bar --------------------------------------------- */

.navbar-default,.navbar-brand,.navbar-brand:hover,.navbar-brand:focus, .navbar-default .navbar-nav>li>a {
  font-size: 14px !important; 
  font-weight: bold !important;
  color: #D5DBDB  !important;
  border: 0px !important; 
  background-color: #17202A !important;
  opacity: 1;
  text-align: center;
  text-decoration: none
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus {
  font-size: 14px !important; 
  font-weight: bold !important;
  color: #D5DBDB  !important;
  border: 0px !important; 
  background-color: #17202A !important;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  opacity: 0.5;
}

/*Hypelinks --------------------------------------------- */

a, a:visited{
 border: 1px solid #17202A; 
 background-color: #17202A;
 color: #D5DBDB;
 font-weight: bold;
 font-size: 10px;
 padding: 3px 4px; 
}

a:focus, a:hover{
 border: 1px solid #17202A;
 background-color: #17202A;
 color: #D5DBDB;
 font-weight: bold;
 font-size: 10px;
 opacity: .8;
 text-decoration:none
}


button, button:active, button:visited {
  padding: 0.5px 3px !important;
  border: 0px;
  background-color: #F0B27A;
  color: #A04000;
  font-weight: bold;
  font-size: 10px;
}

button:focus, button:hover{
  padding: 0.5px 3px !important;
  border: 0px;
  background-color: #F0B27A;
  color: #A04000;
  font-weight: bold;
  font-size: 10px;
  opacity: .8;
}

.a2, .a2:active, .a2:visited {
  padding: 3px 4px !important;
  border: 0px;
  background-color: #F0B27A;
  color: #A04000;
  font-weight: bold;
  font-size: 10px;
}

.a2:focus, .a2:hover{
  padding: 3px 4px !important;
  border: 0px;
  background-color: #F0B27A;
  color: #A04000;
  font-weight: bold;
  font-size: 10px;
  opacity: .8;
}

.a3, .a3:active, .a3:visited {
  padding: 3px 4px !important;
  border: 0px;
  background-color: #F0E2A4;
  color: #2A2C31;
  font-weight: bold;
  font-size: 10px;
}

.a3:focus, .a3:hover{
  padding: 3px 4px !important;
  border: 0px;
  background-color: #F0E2A4;
  color: #2A2C31;
  font-weight: bold;
  font-size: 10px;
  opacity: .8;
}

.a4, .a4:active, .a4:visited {
  padding: 3px 4px !important;
  border: 0px;
  background-color: #F1948A;
  color: #7B241C;
  font-weight: bold;
  font-size: 10px;
}

.a4:focus, .a4:hover{
  padding: 3px 4px !important;
  border: 0px;
  background-color: #F1948A;
  color: #7B241C;
  font-weight: bold;
  font-size: 10px;
  opacity: .8;
}

/*Columns --------------------------------------------- */

.column-left{
  float: left;
  width: 25%;
  text-align: left;
}

.column-right{
  float: right;
  width: 75%;
  text-align: left;
}

/*Headers and paragraphs --------------------------------------------- */

h2{
  font-size: 16px;
  color: #3E3E3E;
  font-weight: bold
}

h1{
  font-size: 13px;
  color: #3E3E3E
}

h3{
  font-size: 14px
}

p{
  font-size: 12px;
}

p1{
  font-size: 14px;
  font-weight: bold
}

p2{
  font-size: 10px;
  padding: 10px;
  border: 1px solid #3E3E3E;
  margin: 2px;
  background-color: white;
  display: inline-block;
  text-align: left;
}

p4{
  padding: 10px;
  width: 75%;
  border: 1px solid #3E3E3E;
  margin: 2px;
  background-color: white;
  display: inline-block;
  text-align: left;
}

/*Lists --------------------------------------------- */

ul{
  font-size: 12px;
  list-style-type: square;
}

ol{
  font-size: 12px;
}

hr {
  border: 0.5px solid #3E3E3E;
  border-radius: 0px;
  margin-top: 0px;
  opacity: .5
}

/*Variables --------------------------------------------- */

#more {display: none;}

