#more {display: none;}

button {
  background-color: #888888; /* Green */
  border: black;
  color: white;
  padding: 2px 4px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

button:hover {
  background-color: #C4C4C4; /* Green */
  color: #717171;
}

.column-left{
  float: left;
  width: 25%;
  text-align: left;
}

.column-right{
  float: right;
  width: 75%;
  text-align: left;
}

.navbar-brand{
  font-size: 14px;
  color: #3E3E3E
}

h2{
  font-size: 16px;
  color: #3E3E3E;
  font-weight: bold
}

h1{
  font-size: 13px;
  color: #3E3E3E
}

h3{
  font-size: 14px
}

p{
  font-size: 12px;
}

p2{
  font-size: 10px;
}

ul{
  font-size: 12px;
  list-style-type: square;
}

ol{
  font-size: 12px;
}

hr {
  border: 0.5px solid #3E3E3E;;
  border-radius: 0px;
  margin-top: 0px;
  opacity: .5
}

body{ 
  background-color: #FCFCFC
}