body{ 
  background-color: white /*#FCFCFC*/
}

button {
  border: 1px solid #3E3E3E; 
  background-color: #FCFCFC;
  color: #3E3E3E;
  font-weight: bold;
  font-size: 11px;
  padding: 3px 4px; 
}

button:hover {
  background-color: #FAFAFA;
  color: #3E3E3E;
  font-weight: bold;
  font-size: 11px;
  opacity: .8;
  text-decoration:none
}

a{
 border: 1px solid #3E3E3E; 
 background-color: #FCFCFC;
 color: #3E3E3E;
 font-weight: bold;
 font-size: 11px;
 padding: 3px 4px; 
}

a:visited{
 border: 1px solid #3E3E3E; 
 background-color: #FCFCFC;
 color: #3E3E3E;
 font-weight: bold;
 font-size: 11px
}


a:hover{
 background-color: #FAFAFA;
 color: #3E3E3E;
 font-weight: bold;
 font-size: 11px;
 opacity: .8;
 text-decoration:none
}

.column-left{
  float: left;
  width: 25%;
  text-align: left;
}

.column-right{
  float: right;
  width: 75%;
  text-align: left;
}

h2{
  font-size: 16px;
  color: #3E3E3E;
  font-weight: bold
}

h1{
  font-size: 13px;
  color: #3E3E3E
}

h3{
  font-size: 14px
}

p{
  font-size: 12px;
}

p2{
  font-size: 10px;
  padding: 10px;
  border: 1px solid #3E3E3E;
  margin: 2px;
  background-color: white;
  display: inline-block;
  text-align: left;
}

p3{
  font-size: 12px;
  padding: 10px;
  border: 1px solid #3E3E3E;
  margin: 2px;
  background-color: white;
  display: inline-block;
  text-align: left;
}

ul{
  font-size: 12px;
  list-style-type: square;
}

ol{
  font-size: 12px;
}

hr {
  border: 0.5px solid #3E3E3E;
  border-radius: 0px;
  margin-top: 0px;
  opacity: .5
}

.navbar-brand{
  font-size: 14px;
  font-weight: bold;
  color: #3E3E3E;
  border: 0px; 
  background-color: white
}

.navbar-nav li a{
  border: 0px; 
  background-color: white;
  font-weight: bold;
  color: #3E3E3E;
  font-size: 14px;
  opacity: 1;
  text-align:center;
  text-decoration:none
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #FAFAFA !important;
  color: #3E3E3E !important;
  font-weight: bold;
  font-size: 14px;
  opacity: .8
}

#more {display: none;}

